---
import Tag from "./Tag.astro";
import Datetime from "./Datetime.astro";
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";

export interface Props {
  title: string;
  tags: string[];
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
  readingTime: string | undefined;
  editPost?: CollectionEntry<"blog">["data"]["editPost"];
  postId?: CollectionEntry<"blog">["id"];
}

const { title, tags, pubDatetime, modDatetime, readingTime, editPost, postId } =
  Astro.props;
---

<div
  class="flex w-full flex-col items-center bg-skin-card px-4 py-4 text-center"
>
  <h1
    transition:name={slugifyStr(title)}
    class="mb-4 text-2xl font-semibold text-[#fff] inline-block"
  >
    {title}
  </h1>
  <ul class="mb-4">
    {tags.map(tag => <Tag tag={slugifyStr(tag)} tagName={tag} />)}
  </ul>
  <Datetime
    pubDatetime={pubDatetime}
    modDatetime={modDatetime}
    readingTime={readingTime}
    size="sm"
    editPost={editPost}
    postId={postId}
  />
</div>
